body {
	background-image: url("ABOUT US.jpg");
	background-size: 30%;
}


.header{
	background-image: url("head-image.jpg");
	background-size: 50%;
	color: white;
	height: 150px;
}

.header img {
	float: left;
	height: 100px;
}


/* Navigation Bar */
nav {
	overflow: hidden;
	background-color: #D3D3D0;
	color: black;
}


nav a {
	float: left;
	color: black;
	font-size: 17px;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}


nav a.active {
	background-color: red;
}


.account {
	float: right;
	overflow: hidden;
}


.account .dropBtn {
	font-size: 17px;
	padding: 14px;
	text-decoration: none;
	border: none;
	outline: none;
	background-color: inherit;
	font: inherit;
	margin: 0;
	width: 170px;
}


nav a:hover, .account:hover .dropBtn {
	background-color: red;
}


.account-dropDown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 170px;
}


.account-dropDown-content a {
	float: none;
	background-color: #D3D3D0;
	color: black;
	display: block;
	text-align: left;
}


.account-dropDown-content a:hover {
	background-color: E92929;
}


.account:hover .account-dropDown-content {
	display: block;
}



/* CONTACT US */
.AboutUs {
	width: 55%;
	padding: 2em;
	padding-top: 1em;
	margin: auto;
	color: white;
	background: linear-gradient(to right, #3333cc 0%, #ff6699 100%);
	border-radius: 10px;
}


h2 {
	text-align: center;
}

.CompanyInfo {
	font-size: 14;
}



.uditya {
	float: left;
	width: 45%;
	background-color: #273746;
	padding: 1em;
	border-radius: 10px;
}

.ishan {
	width: 45%;
	background-color: #273746;
	padding: 1em;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
}