body {
	background-image: url("SIGN IN.jpg");
	background-size: 60%;
}


.header{
	background-image: url("head-image.jpg");
	background-size: 50%;
	color: white;
	height: 150px;
}

.header img {
	float: left;
	height: 100px;
}


/* Navigation Bar */
nav {
	overflow: hidden;
	background-color: #D3D3D0;
	color: black;
}


nav a {
	float: left;
	color: black;
	font-size: 17px;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}


.account {
	float: right;
	overflow: hidden;
}


.account .dropBtn {
	font-size: 17px;
	background-color: red;
	padding: 14px;
	text-decoration: none;
	border: none;
	outline: none;
	font: inherit;
	margin: 0;
	width: 170px;
}


nav a:hover, .account:hover .dropBtn {
	background-color: red;
}


.account-dropDown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 170px;
}


.account-dropDown-content a {
	float: none;
	background-color: #D3D3D0;
	color: black;
	display: block;
	text-align: left;
}


.account-dropDown-content a:hover {
	background-color: E92929;
}


.account:hover .account-dropDown-content {
	display: block;
}



/* SIGN IN */
.SignIn {
	width: 35%;
	padding: 3em;
	padding-top: 0.5em;
	padding-bottom: 4.3em;
	margin: auto;
	font-size: 18;
	color: white;
	background: linear-gradient(to top right, #3366ff 0%, #99ff33 100%);
	border-radius: 10px;
}


h2 {
	text-align: center;
	font-size: 30;
}